<h2 class="text-success mb-3">Data Obat</h2>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nama Obat</th>
      <th>Stok</th>
      <th>Harga</th>
    </tr>
  </thead>
  <tbody>
    <% obat.forEach(o => { %>
      <tr>
        <td><%= o.id %></td>
        <td><%= o.nama_obat %></td>
        <td><%= o.stok %></td>
        <td>Rp <%= o.harga %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
